<div class="area-footer">
  <div class="mod-social">
    <a href="https://twitter.com/JasonLiao94" target="_blank"><span class="socicon socicon-twitter"></span></a>
    <a href="https://github.com/L-movingon" target="_blank"><span class="socicon socicon-github"></span></a>
    <a href="https://l-movingon.github.io/feed.xml" target="_blank"><span class="socicon socicon-rss"></span></a>
  </div> 
  <div class="mod-footer">
    <p><small>Copyright &#xA9; 2015 Jason Liao</small></p>
  </div>
</div>
