<head>
  <meta charset="utf-8"/>
  <title>{% unless page.top %}{{ page.title }} | {% endunless %}{{ site.title }}</title>
  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
  <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
  <link rel="alternate" type="application/rss+xml" title="Jason's RSS" href="/feed.xml" />
  <link href="//file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet" />
</head>
