<head>
  <meta charset="utf-8"/>
  <title>{% unless page.top %}{{ page.title }} | {% endunless %}{{ site.title }}</title>
  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
  <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
  <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="Jason's RSS" href="/feed.xml" />
  <script type="text/javascript" src="//tajs.qq.com/stats?sId=57786465" charset="UTF-8"></script>
</head>
