/* 768px ~ 992px的样式 */
@media (max-width: 992px) {
    #title {
        top: 120px;
    }
    #title h1{
        font-size: 3em;
    }   
    #split{
        margin-left: 308px;
        margin-top: -49px;
    }
    #sideBar {
        width: 200px;
    }
    #main {
        width: calc(96% - 200px);
    }
}
/* 小于768px的样式 */
@media (max-width: 768px) {
    #title {
        top: 75px;
    }
    #title h1 {
        font-size: 2.3em;
    }
    #split {
        margin-left: 235px;
        margin-top: -37px;
    }
    #sideBar {
        float: none;
        width: 96%;
    }
    #main {
        width: 96%;
        float: none;
        padding-bottom: 0
    }
}