#title {
    top: 160px;
}
#title h1 {
    font-size: 4em;
    line-height: 1em;
}
#split{
    color: #42afe3;
    display: block;
    margin-left: 405px;
    margin-top: -65px;
}
#container {
    width: 96%;
/*    height: 900px;*/
    max-width: 960px;
    margin: 80px auto;
    text-align: center;
}

#sideBar {
/*    height: 1000px;    看main的长度而定*/
    width: 215px;
    float: left;
/*    background: #ABCDEF*/
}
#sideBar ul {
    text-align: left;
    list-style: none;
    padding-bottom: 35px;
    border-bottom: #ccc 1px solid;
    margin: 5px 0 50px 0;
}
.linkhere {
    color: #000;
    font-size: 2.2em;
    font-family: "Amatic SCB";
    
}
#sideBar ul li {
    margin-top: 20px;
    margin-bottom: -15px;
    padding: 0;
    line-height: 35px;
}
#sideBar ul li a {
    display: block;
    color: #000;
    font-family: "Amatic SC";
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.2s;
}
#sideBar ul li a:hover {
    color: #209BD7
}
#main {
    float: right;
    text-align: left;
    width: calc(96% - 215px);
    padding-bottom: 70px;
}
#main h1 {
    color: #484848;
    font-family: '微软雅黑';
    font-weight: bold;
    margin-bottom: 50px;
}
#main p {
    font-family: '微软雅黑';
    margin-bottom: 1.8em;
    color: #484848;
    line-height: 1.8em
}
#main p a {
    font-family: Consolas, "微软雅黑", Arial, sans-serif;
    color: #484848;
/*    display: block;*/
}
#main p a:hover {
    color: #209BD7;
}
#main h3 {
    font-family: '微软雅黑';
    color: #484848;
    font-weight: bold;
}
#main pre {
    font-family: '微软雅黑';
}
.codeHighLine {
    font-family: Consolas, "微软雅黑", Arial, sans-serif;
    background: #C7E9FA;
    color: #76CBF3;
    margin-bottom: 20px;
}
code.code {
    font-family: Consolas, "微软雅黑", Arial, sans-serif;
    background: #E0F3FC;
    color: #76CBF3;
    padding: 2px;
}
