#split{
    color: #42afe3;
    display: block;
    margin-left: 280px;
    margin-top: -43px;
}
#container, #foreword {
    width: 96%;
    max-width: 960px;
    margin: 50px auto;
    text-align: center;
}
#container .item {
    max-width: 48%;
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 0;
}
#container .item img {
    width: 100%;
}
.item-hover, .mask {
    position: absolute;
    width: 100%;
    height: calc(100% - 4px);
    top: 0;
    left: 0;
}
.headline {
    font-size: 350%;
    position: absolute;
    z-index: 3;
    opacity: 0;
    width: 100%;
    left: 50%;
    top: 20%;
    margin-left: -50%;
    transition: opacity 0.3s ease-out;
}
.line {
    width:8%;
    height: 1px;
    background: #fff;
    margin: 15px auto;
    transition: width 0.5s ease-out;
}
.postNum {
    position: absolute;
    width: 100%;
    font-size: 350%;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    z-index: 3;
    top: 53%;
}
.mask {
    height: 100%;
    background: #485460;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.4s ease-out;
}
.item-hover:hover .mask {
    opacity: 0.6;   
}
.item-hover:hover .line {
    width: 30%
}
.item-hover:hover .headline, .item-hover:hover .postNum {
    opacity: 1;  
}
#foreword {
    margin: 100px auto 50pxs;
}
#lcs, .words {
    font-family: Sans-Serif;
    font-weight: 580
}
#lcs {
    font-size: 2em;
    color: #222;
    margin-bottom: 20px;
    font-weight: bold;
}
.words {
    color: #444;
    line-height: 1.5em;
    font-size: 155%;
}




