/* 768px ~ 992px的样式 */
@media (max-width: 992px) {
    #title h1{
        font-size: 5.1em;
    }
    #title h2{
        font-size: 1.8em;
        margin-top: -15px;
    }    
    #split{
        margin-left: 242px;
        margin-top: -37px;
    }
    #lcs {
        font-size: 1.8em;
    }
    .words {
        font-size: 125%;
    }
}
/* 小于768px的样式 */
@media (max-width: 768px) {
    #title h1 {
        font-size: 4em;
    }
    #title h2 {
        font-size: 1.4em;
        margin-top: -15px;
    }
    #split {
        margin-left: 190px;
        margin-top: -29px;
    }
    #container .item {
        max-width: 100%;
    }
     #lcs {
        font-size: 1.5em;
    }
    .words {
        font-size: 115%;
    }
}