/* 768px ~ 992px的样式 */
@media (max-width: 992px) {
    #header,#overlay {
        height: 300px;
    }
    #title {
        top: 100px;
        margin-left: -370px;
    }
    #title h1{
        font-size: 5em;
    }
    #title h2{
        font-size: 1.8em;
        margin-top: -15px;
    }
    #split{
        margin-left: 220px;
        margin-top: -28px;
    }
    #nav, #title{
        width: 740px;
    }
}

@media (max-width: 768px) {
    #header,#overlay {
        height: 220px;
    }
    #title {
        width: 300px;
        top: 55px;
        margin-left: -150px;
    }
    #title h1{
        font-size: 4em;
    }
    #title h2{
        font-size: 1.4em;
        margin-top: -15px;
    }
    #split{
        margin-left: 170px;
        margin-top: -23px;
    }
    #menu{
        display: none;
    }
    #Hmenu{
        display: block
    }
    #logo {
        width: 30px;
        height: 30px;
        background-size: contain;
        margin: 10px 0 0 20px;
    }
    #navmenu, #nav, #navoverlay {
        width: 100%;
        height: 50px;
    }
}