@font-face {
  font-family: "Microsoft YaHei";
  src: url('../font/MicrosoftYaHei.ttf');
}

body {
  margin: 0;
  padding: 60px 0;
  background: #525659;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi;
}

ul, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

.resume-container {
  width: 210mm;
  height: 297mm;
  margin-left: 50%;
  transform: translateX(-50%);
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.35);
  background: #d8d8d8;
}

.resume-sidebar {
  width: 74.8mm;
  height: 100%;
  background: #3ba0d8;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.35);
  color: #f1f2f2;
  float: left;
}

.resume-main {
  width: 135.2mm;
  height: 100%;
  float: left;
}

.avatar-section {
  width: 74.8mm;
  height: 74.8mm;
  position: relative;
}

.avatar-section .avatar-img {
  width: 100%;
}

.avatar-section .avatar-info {
  margin: 0;
  left: 5mm;
  position: absolute;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
}

.avatar-section .avatar-name {
  bottom: 9mm;
  font-size: 25pt;
  letter-spacing: 3px;
}

.avatar-section .avatar-job {
  bottom: 5mm;
  font-size: 9pt;
}

.intro-section > ul {
  margin: 0mm 0 8mm 5mm;
}

.intro-section > ul > li {
  margin-top: 8mm;
}

.intro-icon,
.quality-icon {
  display: table-cell;
  width: 7.3mm;
}

.intro-main,
.quality-main {
  display: table-cell;
  padding-left: 5mm;
}

.intro-header,
.quality-header {
  font-size: 14pt;
  transform: translateY(-7px);
}

.intro-content {
  font-size: 11pt;
  padding: 2mm  5mm 8mm 0;
  line-height: 24px;
  border-bottom: .6mm solid #1a91d1;
  width: 52.5mm;
}

.intro-contact > ul > li,
.intro-interests > ul > li {
  margin-bottom: 4mm;
}

.intro-contact > ul > li:last-child,
.quality-section > ul > li:last-child,
.quality-skill li:last-child {
  margin-bottom: 0;
}

 .intro-contact > ul > li > p {
  font-size: 12pt;
  line-height: 21px;
}

.intro-contact > ul > li > .intro-email,
.intro-interests > ul > li > p,
.quality-skill p,
.project-header {
  font-size: 11pt;
}

.intro-interests {
  border-bottom: none;
}

.quality-section {
  margin: 7.5mm;
  color: #685f5d;
}

.quality-section > ul > li {
  padding: 5.2mm 0 5.2mm 5.2mm;
  background: #f1f2f2;
  margin-bottom: 6.9mm;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
}

.quality-content {
  padding-top: 3mm;
}

.quality-content > ul > li {
  padding-right: 5.2mm;
}

.quality-skill li {
  margin-bottom: 2.3mm;
}

.project p {
  margin-bottom: 1mm;
}

.project-time {
  font-size: 9pt;
  color: #39a0d7;
}

p.project-info {
  font-size: 9pt;
  line-height: 20px;
  margin-bottom: 0;
}

.quality-project > ul > li {
  margin-top: 3mm;
  padding-bottom: 3mm;
  border-bottom: .6mm solid #d6d6d6;
}

.quality-project > ul > li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.quality-project {
  padding-top: 0;
}
