body {
  background: #fff url(../images/bg.png) 0 0;
  line-height: 2;
  color: #000;
  text-align: center;
  font: 13px/1.231 'Droid Serif', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Source Han Sans CN', sans-serif;
  margin: 0;
}

.area-body {
  width: 760px;
  margin: 0 auto;
  padding: 0 40px;
  text-align: left;
}

h1, h2, ul {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #2589ff;
}
